[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml = "*"
mkdocs-awesome-pages-plugin = "*"
mdx-truly-sane-lists = "*"
mkdocs = "*"
mkdocs-simple-hooks = "*"
mkdocs-exclude = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"